[Unit]
Description=prometheus-bmp
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/prometheus-pmsensor
ExecStart=/home/pi/prometheus-pmsensor/prometheus-bmp.py
Restart=always

[Install]
WantedBy=multi-user.target
